/* Reset de estilos */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.zone {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.zone:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02); /* Aumenta el tamaño en un 5% */
}


.zone-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 10px;
}

.sensors-container,
.executors-container {
    margin-bottom: 15px;
}

.executor-container {
    padding: 10px;
    background-color: #c2e0ff;
    border: 1px solid #0080ff;
    border-radius: 6px;
    margin-bottom: 10px;
}

.sensor-container{
    padding: 10px;
    background-color: #ffbfa0;
    border: 1px solid #ff5500;
    border-radius: 6px;
    margin-bottom: 10px;
}

.sensor-container,
.executor-container p {
    font-weight: bold;
    font-size: 16px; /* Ajusta el tamaño del texto según tus preferencias */
}

.sensor-container button {
    display: inline-block;
    margin-left: 10px; /* Ajusta el margen izquierdo según tus preferencias */
}

/* Estilos generales para los botones */
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos específicos para el botón de agregar nueva zona */
.create-zone-btn {
    background-color: #27ae60;
    color: #fff;
}

.create-zone-btn:hover {
    background-color: #218e53;
}

/* Estilos específicos para los botones de agregar nuevo executor y sensor */
.add-executor-btn,
.add-sensor-btn {
    background-color: #3498db;
    color: #fff;
}

.add-executor-btn:hover,
.add-sensor-btn:hover {
    background-color: #2980b9;
}

/* Estilos específicos para el botón de modificar nombre de zona */
.modify-zone-name-btn,
.modify-sensor-btn {
    background-color: #ff7700;
    color: #fff;
}

.modify-zone-name-btn,
.modify-sensor-btn:hover {
    background-color: #ff7700;
}

/* Estilos específicos para los botones de borrar zona, executor y sensor */
.delete-zone-btn,
.delete-executor-btn,
.delete-sensor-btn {
    background-color: #e74c3c;
    color: #fff;
}

.delete-zone-btn:hover,
.delete-executor-btn:hover,
.delete-sensor-btn:hover {
    background-color: #c0392b;
}

/* Otros estilos según tus necesidades */


hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

/* Agrega más estilos según tus necesidades */
